@import "variables";

* { box-sizing: border-box; }

html {
	font-family: $serif;
}

body { 
	margin-bottom: 26px; 
	background: #fefefe;
}

.job-status-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.job-status {
	flex: 1 0 300px;
	align-self: stretch;
	max-width: 100%;
	min-height: 200px;
	margin: 5px;
	border: 1px solid $teal;

	font-family: $sans;
	background: #f4fefe;
	padding: 5px 10px;
	position: relative;

	@media screen and(max-width: 600px) {
		.job-status {
			flex-basis: 100%;
			max-width: 100%;
		}
	}

	.name { 
		font-size: 22px;
		font-family: $serif;
	}

	.repository {

		border-bottom: 1px solid $teal;
		margin-bottom: 10px;

		&, & .name { font-size: 14px; }

		.name { }
		.branch { 
			font-weight: bold; 
			color: #666; 
		}
	}

	.last-build {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 12px;
		padding: 10px 16px;
		background: #cee;
	}

	.health-report {
		@include clearfix;

		font-size: 12px;

		.health {
			$s: 30px;
			width: $s;
			height: $s;
			line-height: $s;
			text-align: center;
			font-size: 14px;
			color: white;
			float: left;
			margin-right: 5px;
		}

		.report {
			float: left; 
			width: 100%;
			height: 30px;
			line-height: 30px;
			overflow: hidden;
			margin-bottom: 5px;
		}

		.report .health { background: #888; }
		.report.icon-health-00to19 {
				.health {
					background: #c02;
				}
		}
		.report.icon-health-80plus {
			.health {
				background: #3ac;
			}
		}
	}

	.status {
		position: absolute;
		bottom: 0;
		font-size: 11px;
		color: $teal;
	}
}